@model QuantumStore.Models.ViewModels.CreateViewModel
@{
    ViewBag.Title = "Publish a product";
    Layout = "_Layout";
}
<form method="post" asp-controller="Product" asp-action="Create" >
    <div class="row text-center">
        <input class="mb-2" type="text" asp-for="@Model.Product.Name" placeholder="Name" required/>
        <input class="mb-2" type="text" asp-for="@Model.Product.Description" placeholder="About product" required/>
        <input class="mb-2" type="number" value="" asp-for="@Model.Product.Price" placeholder="Price" required/>
        <input class="mb-2" type="text" asp-for="@Model.Product.ImgSrc" placeholder="Link for picture" required/>
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
</form>
